.catalog-container {
    display: flex;
    min-height: 100%;
}

.catalog-form-content {
    flex: 1 1 auto;
}

.catalog-products-container {
    overflow-y: auto;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.catalog-products {
    width: 100%;
    display: flex;
}

.catalog-product-cost {
    flex: 1 1 auto;
}

.order-number {
    height: 56px;
    margin-top: auto;
    padding-right: 10px;
}

.pdf-panel-desc {
    justify-content: space-between;
    align-items: center;
}

.pdf-panel-title {
    white-space: nowrap;
}

.banner {
    width: 90%;
    min-width: 90%;
    min-height: 100px;
    border: solid 1px #404040;
}

.catalog-config {
    width: 100%;
    background-color: #f1f1f1;
}

.order-drag-handle {
    cursor: pointer;
}