.catalog-container {
    display: flex;
    height: 100%;
}

.catalog-form-content{
    flex: 1 1 auto;
}

.catalog-products-container {
    overflow-y: auto;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.catalog-products {
    width: 100%;
    display: flex;
}

.catalog-product-cost {
    flex: 1 1 auto;
}

.order-number {
    height: 56px;
    margin-top: auto;
    padding-right: 10px;
}