<mat-expansion-panel *ngIf="catalog" class="catalog-expansion-panel" [expanded]="expanded" [ngClass]="{
    'catalog-enabled': !catalog.isDeleted,
    'catalog-disabled': catalog.isDeleted
}" [hideToggle]="isPrintTriggered ? true : false">
    <mat-expansion-panel-header [ngClass]="{
        'catalog-expansion-panel-header-enabled': !catalog.isDeleted,
        'catalog-expansion-panel-header-disabled': catalog.isDeleted
    }" collapsedHeight="70px" expandedHeight="70px">
        <mat-panel-title> {{ catalog.name }}</mat-panel-title>
        <mat-panel-description class="noprint">
            {{ catalog.createdDate | date: 'dd/MM/yyyy' }}
            <mat-chip [ngClass]="{
                'catalog-product-count-enabled': !catalog.isDeleted,
                'catalog-product-count-disabled': catalog.isDeleted
            }">{{ catalog.products.length }}</mat-chip>
        </mat-panel-description>
    </mat-expansion-panel-header>


    <!-- Any user actions -->
    <div class="catalog-edit noprint">

        <!-- User Selection -->
        <div class="global-client-filter-container">
            <button mat-icon-button type="button" [matMenuTriggerFor]="menu1" *ngIf="!catalog.isDeleted && !hideClientCostFilter && isEditAllowed && (cumulativeClients.length > 0)">
                <mat-icon>manage_accounts</mat-icon>
            </button>
            <mat-menu #menu1="matMenu">
                <button mat-menu-item type="button" (click)="changeClient(undefined)">
                    Generic Cost
                </button>
                <ng-container *ngIf="cumulativeClients.length > 0">
                    <button mat-menu-item type="button" *ngFor="let client of cumulativeClients;"
                    (click)="changeClient(client)">
                        {{ client.firstName }}
                    </button>
                </ng-container>

            </mat-menu>

            <ng-container *ngIf="!catalog.isDeleted && !hideClientCostFilter && isEditAllowed && (cumulativeClients.length > 0)">
                {{
                    selectedClient
                    ? selectedClient.firstName
                    : 'Generic Cost'
                }}
            </ng-container>
        </div>

        <!-- Select -->
        <button mat-icon-button [routerLink]="['/inventory/catalog/detail/', catalog._id]"
            *ngIf="!catalog.isDeleted && !hideGotoDetailButton">
            <mat-icon>file_open</mat-icon>
        </button>

        <!--  Download -->
        <button mat-icon-button [matMenuTriggerFor]="menu2" *ngIf="!catalog.isDeleted && !hideDownload">
            <mat-icon>download</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
            <ng-template [ngIf]="!catalog.isDeleted && loggedInUser && isEditAllowed">
                <button mat-menu-item (click)="downalodExcel()">
                    <mat-icon><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path
                                d="M 12 3 L 2 5 L 2 19 L 12 21 L 12 3 z M 14 5 L 14 7 L 16 7 L 16 9 L 14 9 L 14 11 L 16 11 L 16 13 L 14 13 L 14 15 L 16 15 L 16 17 L 14 17 L 14 19 L 21 19 C 21.552 19 22 18.552 22 18 L 22 6 C 22 5.448 21.552 5 21 5 L 14 5 z M 18 7 L 20 7 L 20 9 L 18 9 L 18 7 z M 4.1757812 8.296875 L 5.953125 8.296875 L 6.8769531 10.511719 C 6.9519531 10.692719 7.0084063 10.902625 7.0664062 11.140625 L 7.0917969 11.140625 C 7.1247969 10.997625 7.1919688 10.779141 7.2929688 10.494141 L 8.3222656 8.296875 L 9.9433594 8.296875 L 8.0078125 11.966797 L 10 15.703125 L 8.2714844 15.703125 L 7.1582031 13.289062 C 7.1162031 13.204062 7.0663906 13.032922 7.0253906 12.794922 L 7.0097656 12.794922 C 6.9847656 12.908922 6.934375 13.079594 6.859375 13.308594 L 5.7363281 15.703125 L 4 15.703125 L 6.0605469 11.996094 L 4.1757812 8.296875 z M 18 11 L 20 11 L 20 13 L 18 13 L 18 11 z M 18 15 L 20 15 L 20 17 L 18 17 L 18 15 z">
                            </path>
                        </svg></mat-icon>
                    <span>Excel</span>
                </button>
            </ng-template>

            <button mat-menu-item (click)="exportToPDF()">
                <mat-icon>picture_as_pdf</mat-icon>
                <span>PDF</span>
            </button>
        </mat-menu>

        <!-- Catalog owner actions -->
        <button mat-icon-button [matMenuTriggerFor]="menu3">
            <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu3="matMenu">
            <!-- Share Catalog with users -->
            <button mat-menu-item (click)="handleShareCatalog()" *ngIf="!catalog.isDeleted && loggedInUser">
                <mat-icon>share</mat-icon>
                <span>Share</span>
            </button>
            <!-- Copy Catalog url Link -->
            <button mat-menu-item (click)="copyURL()" *ngIf="!catalog.isDeleted">
                <mat-icon>link</mat-icon>
                <span>Copy Link</span>
            </button>

            <!-- Admin / Owner Actions -->
            <ng-container *ngIf="(isAdmin || isEditAllowed) && showActions">
                <!-- Edit -->
                <button mat-menu-item [routerLink]="['/inventory/catalog/edit/', catalog._id]"
                    *ngIf="!catalog.isDeleted">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <!-- Disable -->
                <button mat-menu-item *ngIf="!catalog.isDeleted" (click)="handleDisableCatalog()">
                    <mat-icon>visibility_off</mat-icon>
                    <span>Disable</span>
                </button>
                <!-- Enable -->
                <button mat-menu-item *ngIf="catalog.isDeleted" (click)="handleEnableCatalog()">
                    <mat-icon>visibility_on</mat-icon>
                    Enable
                </button>
            </ng-container>
        </mat-menu>
    </div>
    <div *ngIf="catalog.isDeleted"> <mat-icon>info</mat-icon> Catalog is disabled</div>
    <mat-card [ngClass]="{
        'catalog-products-card-enabled': !catalog.isDeleted,
        'catalog-products-card-disabled': catalog.isDeleted
    }">
        <mat-card-content class="catalog-products-container">
            <ng-container *ngFor="let catProduct of catalog.products; let i = index;">

                <mat-divider></mat-divider>
                <!-- Cost -->
                <div class="catalog-product-header">

                    <!-- Price -->
                    <div [ngClass]="{
                    'catalog-product-cost-enabled': !catalog.isDeleted,
                    'catalog-product-cost-disabled': catalog.isDeleted
                        }">

                        <!-- Edit Price -->
                        <button type="button" class="edit-cost-button" mat-icon-button (click)="handleEditCostClick(catProduct)"
                        *ngIf="!catalog.isDeleted && !hideClientCostFilter && isEditAllowed ">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <!-- Current Price -->
                        <ng-container *ngIf="!catProduct.product.clientCostSelected">
                            &#8377; {{ catProduct.cost | number: '.2' }}
                        </ng-container>
                        <ng-container *ngIf="catProduct.product.clientCostSelected">
                            &#8377; {{ catProduct.product.clientCostSelected.cost | number: '.2' }}
                        </ng-container>
                    </div>

                    <!-- Cost Selection Based on User Variance -->
                    <div class="catalog-product-contact-variance-container noprint"
                        *ngIf="!catalog.isDeleted && !hideClientCostFilter && isEditAllowed && (catProduct.product.clientCosts && catProduct.product.clientCosts.length > 0)">

                        <div class="contact-cost-label" [ngClass]="{
                            'contact-cost-label-disabled': selectedClient
                        }">
                            <ng-container *ngIf="!catProduct.product.clientCostSelected">
                                Generic Cost
                            </ng-container>
                            <ng-container *ngIf="catProduct.product.clientCostSelected">
                                {{ catProduct.product.clientCostSelected.client.firstName }}
                            </ng-container>
                        </div>

                        <button mat-icon-button type="button" [matMenuTriggerFor]="menu4" [disabled]="selectedClient ? true : false">
                            <mat-icon>manage_accounts</mat-icon>
                        </button>
                        <mat-menu #menu4="matMenu">
                            <button mat-menu-item type="button" (click)="selectProductContactCost(catProduct, undefined)">
                                Generic Cost &#8377; <span class="client-cost-select-item">{{ catProduct.cost | number:
                                    '.2' }}</span>
                            </button>
                            <ng-container *ngIf="catProduct.product.clientCosts">
                                <button mat-menu-item type="button"
                                    (click)="selectProductContactCost(catProduct, clientCost)"
                                    *ngFor="let clientCost of catProduct.product.clientCosts;">
                                    {{ clientCost.client.firstName }} <span class="client-cost-select-item">&#8377; {{
                                        clientCost.cost | number: '.2' }}</span>
                                </button>
                            </ng-container>

                        </mat-menu>
                    </div>
                </div>
                <br>

                <!-- Image Preview -->
                <app-preview [mainImage]="catProduct.product.loadedImage" [showActions]="false"
                    [customOptions]="customOptions"
                    *ngIf="(!isEditAllowed || overideToShowImage) && !catalog.isDeleted"></app-preview>

                <!-- Product Info -->
                <div class="full-width catalog-product-detail">

                    <!-- Cart ADD/REMOVE Controls -->
                    <div class="full-width noprint" *ngIf="!catalog.isDeleted && !isEditAllowed">
                        <button mat-icon-button (click)="removeFromCart(catProduct)"
                            class="counter-button"><mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        <button mat-button>
                            {{ catProduct.count }}
                        </button>
                        <button mat-icon-button (click)="addToCart(catProduct)"
                            class="counter-button"><mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>

                    <!-- Product Name -->
                    <div [ngClass]="{
                        'catalog-product-name-enabled': !catalog.isDeleted,
                        'catalog-product-name-disabled': catalog.isDeleted
                    }" (click)="loadProductDetails(catProduct.product)">
                        <b>{{ catProduct.name }}</b>
                    </div>

                    <!-- Product Description -->
                    <div [innerHTML]="catProduct.product.description" *ngIf="isPrintTriggered || (!hideDescription && !isEditAllowed)"
                        class="catalog-product-description"></div>
                </div>
            </ng-container>
        </mat-card-content>
    </mat-card>
</mat-expansion-panel>