<mat-expansion-panel *ngIf="catalog" class="catalog-expansion-panel" [expanded]="expanded"
[ngClass]="{
    'catalog-enabled': !catalog.isDeleted,
    'catalog-disabled': catalog.isDeleted
}">
    <mat-expansion-panel-header [ngClass]="{
        'catalog-expansion-panel-header-enabled': !catalog.isDeleted,
        'catalog-expansion-panel-header-disabled': catalog.isDeleted
    }" collapsedHeight="70px" expandedHeight="70px">
        <mat-panel-title> {{ catalog.name }}</mat-panel-title>
        <mat-panel-description>
            {{ catalog.createdDate | date: 'dd/MM/yyyy' }}
            <mat-chip [ngClass]="{
                'catalog-product-count-enabled': !catalog.isDeleted,
                'catalog-product-count-disabled': catalog.isDeleted
            }">{{ catalog.products.length }}</mat-chip>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <p align="end" class="catalog-edit" *ngIf="(isAdmin || isEditAllowed) && showActions">
        <button mat-icon-button [routerLink]="['/inventory/catalog/detail/', catalog._id]" *ngIf="!catalog.isDeleted">
            <mat-icon>zoom_out_map</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/inventory/catalog/edit/', catalog._id]" *ngIf="!catalog.isDeleted">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!catalog.isDeleted" (click)="handleDisableCatalog()">
            <mat-icon>visibility_off</mat-icon>
        </button>
        <button mat-icon-button *ngIf="catalog.isDeleted" (click)="handleEnableCatalog()">
            <mat-icon>visibility_on</mat-icon>
        </button>
    </p>
    <div *ngIf="catalog.isDeleted"> <mat-icon>info</mat-icon> Catalog is disabled</div>
    <mat-card [ngClass]="{
        'catalog-products-card-enabled': !catalog.isDeleted,
        'catalog-products-card-disabled': catalog.isDeleted
    }">
        <mat-card-content class="catalog-products-container">
            <ng-container *ngFor="let catProduct of catalog.products">
                <app-preview [mainImage]="catProduct.product.loadedImage" [showActions]="false"
                    [customOptions]="customOptions" *ngIf="!isEditAllowed || overideToShowImage"></app-preview>

                <div class="full-width catalog-product-detail" (click)="loadProductDetails(catProduct.product)">
                    <div [ngClass]="{
                        'catalog-product-name-enabled': !catalog.isDeleted,
                        'catalog-product-name-disabled': catalog.isDeleted
                    }">{{ catProduct.name }}</div>
                    <div  [ngClass]="{
                        'catalog-product-cost-enabled': !catalog.isDeleted,
                        'catalog-product-cost-disabled': catalog.isDeleted
                    }">&#8377; {{ catProduct.cost | number: '.2' }}</div>
                </div>
            </ng-container>
        </mat-card-content>
    </mat-card>
</mat-expansion-panel>