<p align="end" class="view-option-container" (window:resize)="setMobileView()">
    <mat-button-toggle-group name="PageVews" [formControl]="tabularView">
        <mat-button-toggle [value]="false"><mat-icon>view_day</mat-icon></mat-button-toggle>
        <mat-button-toggle [value]="true"><mat-icon>table_view</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
</p>

<app-catalog *ngIf="catalog" [catalog]="catalog" [expanded]="true" [overideToShowImage]="true" [selectedClient]="client"
[hideGotoDetailButton]="true" [tabularView]="tabularView.value"
(clientChanged)="handleClientChanged($event)" (clientCostChanged)="handleEditCost($event)"
(addClient)="addClient($event)">
</app-catalog>