<div class="view-option-container" *ngIf="isAdmin || isEditAllowed">
    <div class="detail-shortcuts">
        <button mat-icon-button type="button" class="banner-link" (click)="handleImageClick(catalog.config.banner)" *ngIf="catalog && catalog.config && catalog.config.banner && catalog.config.useBanner">
            <mat-icon>panorama</mat-icon>
            Banner
        </button>
    </div>
    <mat-button-toggle-group name="PageVews" [formControl]="tabularView">
        <mat-button-toggle [value]="false"><mat-icon>view_day</mat-icon></mat-button-toggle>
        <mat-button-toggle [value]="true"><mat-icon>table_view</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
</div>

<app-catalog *ngIf="catalog" [catalog]="catalog" [expanded]="true" [overideToShowImage]="true" [selectedClient]="client"
    [hideGotoDetailButton]="true" [tabularView]="tabularView.value" [triggerCatalogChange]="triggerCatalogChange"
    (clientChanged)="handleClientChanged($event)" (clientCostChanged)="handleEditCost($event)"
    (addClient)="addClient($event)">
</app-catalog>