.product-comments {
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
  border-top: solid 1px #acacac;
}

.comment-title {
  text-align: left;
  padding-bottom: 10px;
  padding-left: 0px;
}

.comment-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment-form mat-slide-toggle {
  margin: 8px 0;
  display: block;
}

.full-width::ng-deep .mat-mdc-card-header-text {
  width: 100%;
}