<mat-card class="message-window" *ngIf="room">
    <mat-card-header class="window-header">
        <mat-card-title class="window-title">
            <mat-toolbar class="room-name">
                <button mat-icon-button routerLink="/chatroom">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
                {{ name }}
            </mat-toolbar>
        </mat-card-title>
        <mat-card-subtitle class="window-subtitle" *ngIf="roomUserNames">
            <mat-label>{{ roomUserNames }}</mat-label>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="window-messages" id="scrollme" #scrollme>
        <div class="messages-top-buffer"></div>
        <ng-container *ngFor="let message of messageArray">
            <app-chat-window [isMe]="loginProfile?.id === message.room?.user?._id">
                <div username>
                    {{ message.room ? getUserName(message.room) : '' }}
                </div>
                <div timestamp>
                    {{ message.creationDate | chatMessageTime }}
                </div>
                <div content *ngIf="message">
                    <app-string-message [message]="message" *ngIf="message.type === 'string'"></app-string-message>
                </div>
            </app-chat-window>
            <!-- {{ message.message }} -->
        </ng-container>
    </mat-card-content>

    <form *ngIf="messageForm" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <mat-card-actions class="window-action-container">
            <mat-form-field class="message-input">
                <textarea matInput formControlName="message" (keyup)="scrollToBottom()"
                (keydown.enter)="handleEnterKey($event)"
                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="6"></textarea>
            </mat-form-field>

            <button mat-mini-fab class="message-send" type="submit">
                <mat-icon>send</mat-icon>
            </button>
        </mat-card-actions>
    </form>
</mat-card>