.message-container {
    width: 100%;
    display: flex;
}

.message {
    max-width: 80%;
    min-width: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message-disabled {
    width: 100%;
    max-width: 100%;
    opacity: 0.6;
}

.message-header, .message-header::ng-deep .mat-mdc-card-header-text {
    background-color: #111d3c;
    width: 100%;
    color: gray;
    padding-top: 0px;
    padding-right: 0px;
}

.message-title, .message-title {
    display: flex;
    width: 100%;
}

.message-user-name {
    flex: 1 1 auto;
    font-size: 11px;
    text-align: left;
}

.message-timestamp {
    font-size: 8px;
    padding-left: 10px;
    white-space: nowrap !important;
}

.message-action {
    height: 32px;
    padding: 0px;
    font-size: smaller;
}

.message-action-trigger-icon {
    height: 14px;
    padding: 0px;
    font-size: smaller;
    
}

.align-right {
    flex-flow: row-reverse;
}

.message-content {
    text-align: justify;
    padding: 10px;
    background-color: #dedefd;
}

.message-content-disabled {
    background-color: #001d64;
    color: #a0a0a0;
}

.message-action-reply {
    width: 100px;
}

.reply-icon {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

.reply-text {
    font-size: 15px;
}


.reply-of {
    color: gray;
}

.deleted-message {
    background-color: #404040;
    color: gray;
}