.body-wrapper {
    margin: 0;
    height: 100%;
    min-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
  }

app-header,
app-footer {
  flex: none;
}
