.product-images {
    width: 100%;
    height: 200px;
    background-image: url(../../../../assets/noimage.png);
    background-size: 100% 100%;
    position: relative;
}

.upload {
    margin: auto;
}

.spec-expansion {
    background-color: #f5f5f5;
}

.spec-actions,
.spec-desc {
    margin-right: 10px;
}

.spec-desc {
    height: 100%;
    margin: auto 10px;
}

.spec-actions {
    height: 30px;
    width: 30px;
}

.spec-error {
    color: red;
}

.key-value-input {
    width: calc(50% - 30px);
  }