<!-- Checkout -->
<p align="end" *ngIf="cart && cart.products.length > 0" class="checkout-container">
  <br>
  <button class="full-width" mat-fab extended color="accent" (click)="checkout()">
    <mat-icon>shopping_cart_checkout</mat-icon>
    {{ cart.totalPrice ? '&#8377; ' + (cart.totalPrice | number:'.2') : 'Checkout'}}
  </button>
  <br><br>
</p>


<!-- Tab / Desktop View -->
<table mat-table [dataSource]="cart.products" class="cart-table" *ngIf="cart">


  <!-- Prooduct Image -->
  <ng-container matColumnDef="product" sticky>
    <th mat-header-cell *matHeaderCellDef class="cart-product-header"> Product </th>
    <td mat-cell *matCellDef="let cartProduct" class="product-image-container">
      <img src="{{cartProduct.image.image}}" class="product-image" *ngIf="cartProduct.image">
    </td>
  </ng-container>

  <!-- Prooduct Name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="cart-product-header"> Name </th>
    <td mat-cell *matCellDef="let cartProduct"> {{ cartProduct.product.name }} </td>
  </ng-container>

  <!-- Unit Price -->
  <ng-container matColumnDef="unitprice">
    <th mat-header-cell *matHeaderCellDef class="cart-product-header"> Unit Price </th>
    <td mat-cell *matCellDef="let cartProduct" class="cost"> &#8377; {{ cartProduct.cost | number:'.2' }} </td>
  </ng-container>

  <!-- Quantity -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef class="cart-product-header"> Quantity </th>
    <td mat-cell *matCellDef="let cartProduct">
      <ng-template [ngTemplateOutlet]="quantityControl" [ngTemplateOutletContext]="{cartProduct}"></ng-template>
    </td>
  </ng-container>

  <!-- Total -->
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef class="cart-product-header"> Total </th>
    <td mat-cell *matCellDef="let cartProduct" class="cost"> &#8377; {{ (cartProduct.cost * cartProduct.count) |
      number:'.2' }} </td>
  </ng-container>

  <!-- Action -->
  <ng-container matColumnDef="action" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let cartProduct">
      <button mat-icon-button (click)="removeProduct(cartProduct)"><mat-icon
          class="delete-button">delete</mat-icon></button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="catalogProductColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: catalogProductColumns;"></tr>
</table>

<!-- Mobile View -->
<div class="cart-card" *ngIf="cart">
  <ng-container *ngFor="let cartProduct of cart.products">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <img src="{{cartProduct.image.image}}" class="product-image" *ngIf="cartProduct.image">
        </mat-card-title>
        <mat-card-subtitle>{{cartProduct.product.name}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="control-container">
        <div class="control-container-total-cost">
          <b>&#8377;</b>
          {{ (cartProduct.cost * cartProduct.count) | number:'.2'}}
        </div>
        <div>
          <button mat-icon-button (click)="removeProduct(cartProduct)">
            <mat-icon class="delete-button">delete</mat-icon></button>
        </div>
      </mat-card-content>
      <mat-card-content>
        <ng-template [ngTemplateOutlet]="quantityControl" [ngTemplateOutletContext]="{cartProduct}"></ng-template>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>

<!-- Checkout -->
<p align="end" *ngIf="cart && cart.products.length > 0" class="checkout-container">
  <button class="full-width" mat-fab extended color="accent" (click)="checkout()">
    <mat-icon>shopping_cart_checkout</mat-icon>
    {{ cart.totalPrice ? '&#8377; ' + (cart.totalPrice | number:'.2') : 'Checkout'}}
  </button>
  <br><br>
</p>

<ng-template let-cartProduct="cartProduct" #quantityControl>
  <table class="quantity-control-container">
    <tr>
      <td><button mat-button type="button" (click)="decreaseCount(cartProduct)"><mat-icon>remove</mat-icon></button>
      </td>
      <td>{{ cartProduct.count }}</td>
      <td><button mat-button type="button" (click)="increaseCount(cartProduct)"><mat-icon>add</mat-icon></button></td>
    </tr>
  </table>
</ng-template>


<!-- <div *ngIf="cart && cartForm">
  <form #formDir="ngForm" [formGroup]="cartForm">
    <div class="card shopping-cart">
      <div class="card-header bg-dark text-light">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Shopping Cart
        <div class="pull-right">
          Total price: <b>{{cart.totalPrice | number:'1.2-2'}}&#x24;</b>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="card-body" *ngFor="let b of cart.books">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-2 text-center">
            <img class="img-responsive" src="{{b.cover}}" alt="cover" width="100" height="150">
          </div>
          <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
            <h4 class="product-name"><strong>{{b.title}}</strong></h4>
            <h4>
              <small>{{b.author}}</small>
            </h4>
          </div>
          <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
            <div id="book-price" class="col-3 col-sm-3 col-md-6 text-md-right" >
              <h6>
                <strong>
                  {{b.price}} <span class="text-muted">x</span>
                </strong>
              </h6>
            </div>
            <div class="col-4 col-sm-4 col-md-4">
              <div class="quantity">
                <input
                  class="qty"
                  type="number"
                  size="4"
                  step="1"
                  name="{{b._id}}"
                  formControlName="{{b._id}}"
                />
              </div>
            </div>
            <div class="col-2 col-sm-2 col-md-2 text-right">
              <button class="btn btn-outline-danger btn-xs" (click)="openRemoveModal(remove, b._id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div 
          class="alert alert-danger"
          *ngIf="getControl(b._id)?.invalid
          && (getControl(b._id)?.dirty
          || getControl(b._id)?.touched)"
        >
          <div *ngIf="getControl(b._id)?.errors?.['required']">
            Quantity is required
          </div>
          <div *ngIf="getControl(b._id)?.errors?.['min'] || getControl(b._id)?.errors?.['max']">
            Quantity must be between 1 and 20
          </div>
        </div>
      </div>
      <div class="card-footer bg-dark">
        <div class="pull-right">
          <div class="pull-right">
            Total price: <b>{{cart.totalPrice | number:'1.2-2'}}&#x24;</b>
          </div>
          <input
            class="btn btn-success pull-right"
            type="submit" value="Checkout"
            [disabled]="cartForm.invalid"
            (click)="onSubmit()"
          />
          <a routerLink="/book/store/default" class="btn btn-secondary">
            Continue shopping
          </a>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #remove>
  <div class="modal-body text-center">
    <p>Do you really want to remove this book from cart?</p>
    <button type="button" class="btn btn-default" (click)="onRemove()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="removeModalRef?.hide()">No</button>
  </div>
</ng-template> -->