.banner-image-container {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
}

.mobile_image,
.desktop_image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {

  /* Desktop */
  .banner-image-container {
    background-image: url('../../../../assets/banner.PNG');
  }

  .smallscreen {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  /* Mobile*/
  .banner-image-container {
    background-image: url('../../../../assets/mobile-banner.png');
  }

  .bigscreen {
    display: none;
    width: 100%;
    height: auto;
  }
}

.business-supports {
  width: 100%;
  background-color: white;
}

.business-supports-subheader {
  text-align: left;
}

.business-supports-title,
.business-supports-line {
  text-align: left;
}

.business-supports-line {
  white-space: break-spaces;
  text-align: justify;
}

.business-supports-item {
  height: fit-content !important;
}

.inventory {
  color: #a30b0b;
}

.catalog {
  color: #8b22ff;
}

.contact {
  color: green;
}

.chat {
  color: #1e5999;
}

.transaction {
  color: #ff6580;
}