.product-card {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.product-disabled {
    background-color: #808080;
}

.product-header {
    width: 100%;
}
.product-header::ng-deep .mat-mdc-card-header-text {
    width: 100%;
}

.product-title {
    text-align: left;
    width: 100%;
}

.product-subtitle {
    padding-bottom: 10px;
    text-align: justify;
}

.product-images {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    margin: auto;
}

.product-edit {
    margin-right: 10px;
}

.product-action {
    width: 100%;
    background-image: linear-gradient(to bottom,#ffaef1,#f7bcf8,#e5bfee,#f6c4e5,#ffccde)
}

.product-specs {
    width: 100%;
    max-height: 300px;
    overflow: auto;
    background-color: #f7f7ff;
}
