<mat-card class="login-form">
  <form #formDir="ngForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="form-field">

    <mat-form-field class="username">
      <mat-label>Username</mat-label>
      <input type="text" matInput name="username" placeholder="Username" formControlName="username">
      <mat-icon matPrefix>account_box</mat-icon>
    </mat-form-field>

    <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="input-error">
      <div *ngIf="username?.errors?.['required']">
        Username is required
      </div>
    </div>
  </div>
  <div class="form-field">

    <mat-form-field class="email">
      <mat-label>Email</mat-label>
      <input type="text" matInput name="email" placeholder="Email" formControlName="email">
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="input-error">
      <div *ngIf="email?.errors?.['required']">
        Email is required
      </div>
      <div *ngIf="email?.errors?.['pattern']">
        Please provide a valid email address
      </div>
    </div>
  </div>
  <div class="form-field">

    <mat-form-field class="pass">
      <mat-label>Password</mat-label>
      <input type="password" matInput name="password" placeholder="***" formControlName="password">
      <mat-icon matPrefix>visibility_off</mat-icon>
    </mat-form-field>

    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="input-error">
      <div *ngIf="password?.errors?.['required']">
        Password is required
      </div>
      <div *ngIf="password?.errors?.['minlength'] || password?.errors?.['maxlength']">
        Password must be between 3 and 16 symbols
      </div>
    </div>
  </div>
  <div class="form-field">

    <mat-form-field class="pass">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput name="confirmPassword" placeholder="***" formControlName="confirmPassword">
      <mat-icon matPrefix>visibility_off</mat-icon>
    </mat-form-field>

    <div *ngIf="registerForm.errors?.['mustMatch'] && (registerForm.touched || registerForm.dirty)" class="input-error">
      Both passwords must match
    </div>
  </div>

  <mat-card-actions>
    <button mat-raised-button type="submit" class="login-submit" color="accent"
      [disabled]="registerForm.invalid">Register</button>
  </mat-card-actions>

  </form>
</mat-card>