<div class="reset-form-container">

    <ng-template [ngTemplateOutlet]="emailformTemplate" *ngIf="!emailVerified"></ng-template>

    <ng-template [ngTemplateOutlet]="otpFormTemplate" *ngIf="emailVerified && !otpVerified"></ng-template>

    <ng-template [ngTemplateOutlet]="passwordResetTemplate" *ngIf="emailVerified && otpVerified"></ng-template>


</div>

<ng-template #emailformTemplate>
    <div class="reset-email-form" *ngIf="emailForm">

        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    User Verification
                </mat-card-title>
                <mat-card-subtitle align="justify">
                    Enter your email or username for verification. If verfired, an OTP will be sent to your registered
                    email.
                </mat-card-subtitle>
            </mat-card-header>

            <form [formGroup]="emailForm" (ngSubmit)="onEmailFormSubmit()">
                <mat-card-content>
                    <mat-form-field class="email">
                        <mat-label>Email / Username</mat-label>
                        <input type="text" matInput name="toFind" placeholder="Email / Username"
                            formControlName="toFind">
                        <mat-icon matPrefix>email</mat-icon>
                    </mat-form-field>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button color="primary" class="login-submit" type="submit">Verify User</button>
                </mat-card-actions>
            </form>
        </mat-card>

    </div>
</ng-template>

<ng-template #otpFormTemplate>
    <div class="reset-otp-form" *ngIf="otpForm">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    OTP Verification
                </mat-card-title>
                <mat-card-subtitle align="justify">
                    We have sent OTP to your registered email address.
                </mat-card-subtitle>
            </mat-card-header>

            <form [formGroup]="otpForm" (ngSubmit)="onOTPFormSubmit()">
                <mat-card-content>
                    <mat-form-field class="email">
                        <mat-label>OTP</mat-label>
                        <input type="number" matInput name="otp" placeholder="123456" formControlName="otp">
                        <mat-icon matPrefix>confirmation_number</mat-icon>
                    </mat-form-field>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button color="accent" type="button" class="half-width"
                        (click)="onEmailFormSubmit()">Resend OTP</button>
                    <button mat-raised-button color="primary" type="submit" class="half-width">Verify OTP</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</ng-template>

<ng-template #passwordResetTemplate>
    <div class="reset-otp-form" *ngIf="newPasswordForm">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Change Password
                </mat-card-title>
                <mat-card-subtitle align="justify">
                    User verification completed. Set your new password now.
                </mat-card-subtitle>
            </mat-card-header>

            <form [formGroup]="newPasswordForm" (ngSubmit)="onNewPasswordFormSubmit()">
                <mat-card-content>

                    <mat-form-field class="pass">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput name="password" placeholder="***" formControlName="password">
                        <mat-icon matPrefix>visibility_off</mat-icon>
                    </mat-form-field>

                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="input-error">
                        <div *ngIf="password?.errors?.['required']">
                            Password is required
                        </div>
                        <div *ngIf="password?.errors?.['minlength'] || password?.errors?.['maxlength']">
                            Password must be between 3 and 16 symbols
                        </div>
                    </div>

                    <mat-form-field class="pass">
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" matInput name="confirmPassword" placeholder="***"
                            formControlName="confirmPassword">
                        <mat-icon matPrefix>visibility_off</mat-icon>
                    </mat-form-field>

                    <div *ngIf="newPasswordForm.errors?.['mustMatch'] && (newPasswordForm.touched || newPasswordForm.dirty)"
                        class="input-error">
                        Both passwords must match
                    </div>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit" class="half-width">Update Password</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</ng-template>